<div class="row">
    <div class="col-12 pt-5">
        <h1 class="text-justify font-weight-bold">i-on CodeGarten</h1>
    </div>
    <div class="col-12">
        <h4 class="text-muted" style="line-height: 150%;">Forget assignment management and start focusing on what's important: <b>teaching</b></h5>
    </div>
    <div class="col-12 pt-3">
        <p class="text-justify">
            CodeGarten helps you set up classrooms for your students, allowing you to easily distribute your various assignments between them. 
        </p>
    </div>
    <div class="col pt-3">
        <a type="button" class="btn btn-primary btn-lg" href="/login">
            <img src="/res/github-32x-light.png" width="24" height="24" class="rounded-circle m-1">
            Login with GitHub
        </a>
    </div>
</div>